
/* Resets */
* {
  box-sizing: border-box;
  padding-inline-start: 0px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
ul,
ol,
dd {
  margin: 0;
}

p {
  margin: 20px auto;
}

a {
  text-decoration: none;
}

:root {
  --max-page-layout: 88rem;
  --max-content-layout: 75rem;
  /* Generic layout */
  --max-page-width: min(100%, var(--max-page-layout));
  --max-content-width: min(100%, var(--max-content-layout));

  /* Generic palette */
  --bg-color: #182029;
  --bg-color-2: #32333f22;
  --bg-color-light: #32333f22;
  --primary-color: #f7f9f9;
  --accent-color-one: #cc2b5eff;
  --accent-color-two: #753a88ff;

  /* Specific colors */
  --link-color: var(--primary-color);

  --primary-font-family: 'League Spartan', sans-serif;
  --primary-font-weight: 600;
  --primary-font-size: var(--font-size-fluid-sm);
  --metadata-font-family: 'Noto Sans Mono', monospace;
  --secondary-font-weight: 500;
  --regular-font-weight: 400;

  --font-size-fluid-sm: clamp(12.8px, 0.15vw + 12.36px, 14.25px);
  --font-size-fluid-base: clamp(16px, 0.31vw + 15.08px, 19px);
  --font-size-fluid-md: clamp(20px, 0.54vw + 18.37px, 25.33px);
  --font-size-fluid-lg: clamp(25px, 0.89vw + 22.32px, 33.76px);
  --font-size-fluid-xl: clamp(31.25px, 1.4vw + 27.04px, 45px);
  --font-size-fluid-xxl: clamp(39.06px, 2.14vw + 32.66px, 59.99px);
  --font-size-fluid-xxxl: clamp(48.83px, 3.18vw + 39.3px, 79.97px);

  --line-height-sm: 1.5;
  --line-height-base: 1.6;
  --line-height-md: 1.7;

  --header-size: var(--font-size-fluid-base);
  --header-margin: var(--header-size);
  --header-icons: calc(var(--header-size) * 2);
  --header-font-size: var(--font-size-fluid-base);
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

.global-container {
  max-width: var(--max-page-width);
  min-width: var(--max-page-width);
  display: flex;
  flex-direction: column;
  padding-right: var(--header-margin);
  padding-left: var(--header-margin);
  flex-grow: 1;
  gap: calc(var(--header-margin) * 2);
}

header {
  display: flex;
  margin-top: calc(var(--header-margin) * 2);
}

.flex-spacer {
  flex-grow: 10;
}

.toggle:checked~.links>.flex-spacer {
  display: none;
}

.nav-top-primary {
  --active-indicator-size: 1ex;
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--header-font-size);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap: var(--header-icons);
}

.nav-top-primary .links {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  max-height: calc(var(--header-size) + var(--active-indicator-size));
  gap: calc(var(--header-icons) - 1ex);
}

.nav-top-primary .links a{
  text-align: center;
}

.toggle:checked~.links {
  overflow: visible;
  max-height: none;
  font-size: 0.8em;
}

.toggle:checked~.links>li {
  width: var(--header-icons);
  align-items: center;
  margin-right: 0;
  margin-top: 0;
}
.toggle:checked~.links>li.primary.active::after {
  display: none;
}
.toggle:checked~.links>li.primary.active .icon {
  background-color: var(--accent-color-one);
}
.toggle:checked~.links>li.primary.active .name {
  color: var(--accent-color-one);
}
.nav-top-primary li {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-flow: column;
  position: relative;
  margin-right: var(--active-indicator-size);
  margin-top: var(--active-indicator-size);
}

.nav-top-primary li.primary.active::after {
  content: "";
  position: absolute;
  width: var(--active-indicator-size);
  height: var(--active-indicator-size);
  border-radius: 100%;
  background-color: var(--accent-color-one);
  top: calc(var(--active-indicator-size) * -1);
  right: calc(var(--active-indicator-size) * -1)
}

.nav-top-primary li .secondary {
  align-self: flex-end;
}

.nav-top-primary li .icon {
  background-color: var(--primary-color);
  min-height: var(--header-size);
  min-width: var(--header-size);
}

.nav-top-primary li.primary .icon {
  display: none;
}

.toggle:checked~.links li .icon {
  display: block;
  min-height: var(--header-icons);
  min-width: var(--header-icons);
  margin-bottom: 0.7em;
}

.nav-top-primary li.secondary .name {
  display: none;
}

.toggle:checked~.links li.secondary .name {
  display: block;
}

.show-all .icon {
  background-color: var(--primary-color);
  min-height: var(--header-size);
  min-width: var(--header-size);
  transition: transform .2s ease-in-out;
  margin-top: var(--active-indicator-size);
}

.show-all a {
  display: none;
}

.show-all {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-width: var(--header-size);
}

.toggle:checked~.show-all>.icon {
  transform: rotate(-45deg);
  min-height: var(--header-icons);
  min-width: var(--header-icons);
}

nav .toggle {
  display: none;
}

nav .logo {
  width: var(--header-icons);
}

main .whoami {
  display: flex;
  background-color: var(--bg-color-2);
  justify-content: center;
  flex-wrap: wrap;
}

main .whoami .profile {
  display: flex;
  justify-content: center;
}

main .whoami .profile .portrait {
  display: flex;
  align-items: center;
  margin-right: calc(var(--header-margin));
  margin: var(--header-margin);
}

main .whoami .profile .portrait .pic {
  border-radius: 50%;
  max-inline-size: 100%;
}

main .whoami .profile .description {
  max-width: calc(var(--max-content-width) / 2);
  margin: calc(var(--header-margin));
  transition: max-width 0.3s ease-out 0s;
}

@media only screen and (max-width: 650px) {
  main .whoami .profile .portrait {
    display: none;
  }

  main .whoami .profile .description {
    max-width: 100%;
  }
}

main {
  /* border: aliceblue dashed 0.1px;   */
  max-width: var(--max-content-width);
  min-width: var(--max-content-width);
  align-self: center;
  flex-grow: 1;
  font-family: var(--primary-font-family);
  line-height: var(--line-height-base);
  font-size: var(--font-size-fluid-base);
  gap: calc(var(--header-margin) * 4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts .section-article {
  color: var(--accent-color-one);
  flex-basis: 100%;
  text-transform: uppercase;
  letter-spacing: 2px ;
}

.posts {
  display: flex;
  gap: calc(var(--header-margin) * 3);
  flex-wrap: wrap;
}

article {
  flex-basis: 100%;
  max-inline-size: 75ch;
  display: flex;
  flex-direction: column;
  gap: var(--header-margin);
}

.summary {
  font-family: var(--primary-font-family);
  font-weight: var(--regular-font-weight);
  font-size: var(--font-size-fluid-base);
  line-height: var(--line-height-base);
}

.metadata {
  font-family: var(--metadata-font-family);
  font-size: var(--font-size-fluid-sm);
  font-weight: var(--secondary-font-weight);
}

article h3 {
  cursor: pointer ;
  margin-right: auto;
  transition: scale 0.3s;
  transform-origin: left;
  background: linear-gradient(90deg,
      white,
      white) 0 0 / 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article h3:hover {
  scale: 1.1;
  animation-iteration-count: 20;
  animation: move-bg 12s linear infinite;
}

@keyframes move-bg {
  0% {
    background-image: linear-gradient(90deg,var(--accent-color-one),var(--accent-color-two),var(--accent-color-one));
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-image: linear-gradient(90deg, var(--accent-color-one), var(--accent-color-two), var(--accent-color-one));
  }
}

footer {
  border: beige dashed 0.1px;
}