{{- $origImageUrl := .Destination -}}
{{- $origImage := resources.GetRemote $origImageUrl -}}
{{- if not $origImage -}}
{{- errorf "[BROKEN ORIG IMAGE] failed to fetch %q" .Destination -}}
{{- end -}}

{{- $imageVersions := slice "1" "2" -}}
{{- $extensions := slice "webp" "avif" -}}
{{- $origUrl := urls.Parse .Destination -}}
{{- $dirName := path.Dir $origUrl.Path -}}
{{- $fileName := path.BaseName $origUrl.Path -}}
{{- $fileExt := path.Ext $origUrl.Path -}}

{{- $lqip := "" -}}
{{- $additionalVersions := dict  -}}
{{- $newUrl := printf "%s://%s%s/%s-%s.%s" $origUrl.Scheme $origUrl.Host $dirName $fileName "lqip" "webp" -}}
{{- with resources.GetRemote $newUrl -}}
  {{- with .Err -}}
    {{- warnf "[ERROR CHECKIKNG LQIP] %s Error %s" $newUrl . -}}
  {{- else -}}
    {{- $lqip = printf "url('data:media/webp;base64,%s')" (.Content | base64Encode) | safeCSS -}}
    {{- range $version := $imageVersions -}}
      {{- range $extension := $extensions -}}
        {{- $newUrl := printf "%s://%s%s/%s-%s.%s" $origUrl.Scheme $origUrl.Host $dirName $fileName $version $extension -}}
        {{- with resources.GetRemote $newUrl -}}
          {{- with .Err -}}
            {{- warnf "[BROKEN IMAGE] failed to fetch %s Error: %s" $newUrl . -}}
            {{- break -}}
          {{- else -}}
            {{- if (eq $extension "webp") -}}
              {{- $additionalVersions = merge $additionalVersions (dict $newUrl . ) -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- warnf "[NO LQIP DETECTED] %s" $newUrl -}}
{{- end -}}

{{- $aspectRatio := (div (float $origImage.Width) $origImage.Height) -}}
{{- $rd := sub 4 1 -}}
{{- $nd := printf "%.2f" (div (sub $aspectRatio 1) $rd) -}}

<figure style="--ud: {{$nd}};" class="center">
  {{- with $lqip -}}
    <a class="notext" href="{{$origImageUrl}}">
  {{- end -}}
    <picture {{with $lqip}}class="lqip picture"{{end}} style="aspect-ratio: {{$origImage.Width}} / {{$origImage.Height}}; {{with $lqip}}--img-lqip: {{$lqip}};{{end}}">
      {{- range $url, $version := $additionalVersions -}}
        <source srcset="{{ replaceRE `\.webp$` ".avif" $url 1 }}" width="{{$version.Width}}" height="{{$version.Height}}" type="image/avif" />
        <source srcset="{{$url}}" width="{{$version.Width}}" height="{{$version.Height}}" type="{{$version.MediaType}}" />
      {{- end -}}
      <img width="{{$origImage.Width}}" height="{{$origImage.Height}}" src="{{ .Destination | safeURL }}" alt="{{ .Text }}"
        {{ with .Title}} title="{{ . }}" {{ end }} />
    </picture>
  <figcaption>{{ .Text }}</figcaption>
  {{- with $lqip -}}
    </a>
  {{- end -}}
</figure>