{{ $spartanLatin := base64Encode (resources.Get "fonts/spartan-latin.woff2").Content}}

/* latin */
@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("data:text/css;base64,{{ $spartanLatin }}") format('woff2');
}