header {
  position: sticky;
  top: calc(var(--header-margin) * -1);
  padding-top: calc(var(--header-margin) * 2);
  padding-bottom: var(--header-margin);
  background-color: var(--bg-color);
  /** we are using content-visibility which creates new stacks */
  /** So we have to be sure that the header is first in the root stack */
  /** We use 10 to give some room for other legit cases of z-index, for example */
  /** To implement LQIP */
  z-index: 10;
}

.flex-spacer {
  flex-grow: 10;
}

.nav-top {
  --active-indicator-size: 0.7ex;
  font-weight: var(--primary-font-weight);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--header-icons);
}

.nav-top .links {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  height: var(--header-icons);
  gap: 2em;
}

.toggle:checked ~ .links {
  overflow: visible;
  height: auto;
  font-size: 0.8em;
}

.toggle:checked ~ .links > .flex-spacer {
  display: none;
}

.toggle:checked ~ .links > li {
  width: calc(var(--header-icons) * 1.5);
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-top: 0;
}

.toggle:checked ~ .links > li.primary.active::after {
  display: none;
}

.toggle:checked ~ .links > li.primary.active .icon {
  background-color: var(--accent-color-one);
}

.toggle:checked ~ .links > li.primary.active .name {
  color: var(--accent-color-one);
}

.nav-top li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-top li.primary {
  margin-right: var(--active-indicator-size);
}

.nav-top li:first-child {
  margin-left: var(--active-indicator-size);
}

.nav-top li.primary.active::after {
  content: "";
  position: absolute;
  width: var(--active-indicator-size);
  height: var(--active-indicator-size);
  border-radius: 100%;
  background-color: var(--accent-color-one);
  top: 0;
  right: -1ex;
}

.nav-top li .icon {
  background-color: var(--primary-color);
  min-height: var(--unit-md);
  min-width: var(--unit-md);
  transition: scale 0.3s;
  background: linear-gradient(90deg,
      var(--primary-color),
      var(--primary-color)) 0 0 / 400% 100%;
  -webkit-text-fill-color: transparent;
}

.nav-top li.primary .icon {
  display: none;
}

.toggle:checked ~ .links li .icon {
  display: block;
  min-height: var(--header-icons);
  min-width: var(--header-icons);
  margin-bottom: 0.7em;
}

.nav-top li.secondary .name {
  display: none;
}

.toggle:checked ~ .links li.secondary .name {
  display: block;
}

.show-all .icon {
  background-color: var(--primary-color);
  min-height: var(--unit-md);
  min-width: var(--unit-md);
  transition: transform .2s ease-in-out;
}

.show-all a {
  display: none;
}

.show-all {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-width: var(--header-size);
  cursor: pointer;
}

.toggle:checked ~ .show-all > .icon {
  transform: rotate(-45deg);
  min-height: var(--header-icons);
  min-width: var(--header-icons);
  flex-shrink: 0;
}

nav .toggle {
  display: none;
}

nav .logo {
  width: var(--header-icons);
  height: var(--header-icons);
  flex-shrink: 0;
}

.color-shceme-toggle {
  display: none;
}