html {
  color-scheme: dark light;
  scrollbar-gutter: stable;
}

a {
  color: var(--link-color);
}

#color-scheme-wrapper {
  background-color: var(--bg-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
}

.global-container {
  padding: 0 var(--spacing-base);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .whoami {
  padding: var(--spacing-base);
  background-color: var(--bg-color-2);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--header-icons);
}

main .whoami picture,
main .whoami picture::after,
main .whoami picture > * {
  width: calc(var(--unit-base) * 15);
  height: calc(var(--unit-base) * 15);
  border-radius: 50%;
  align-self: center;
}

main .whoami .description {
  flex-basis: 31ch;
  flex-grow: 2;
}

main a:not(.nav, .notext) {
  background: linear-gradient(90deg,
      var(--primary-color),
      var(--primary-color)) 0 0 / 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main a:not(.nav, .notext):hover {
  animation-iteration-count: 20;
  animation: move-bg 12s linear infinite;
}

.h2 {
  color: var(--accent-color-one);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--secondary-font-weight);
}

.section-article {
  margin-top: calc(var(--spacing-base) * 5);
  margin-bottom: calc(var(--spacing-base) * 2);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-base) * 3);
}

article {
  content-visibility: auto;
}

article iframe {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
}

article > * {
  max-width: var(--content-width);
}

article figure:has(picture, * > picture) {
  max-width: unset;
  text-align: center;
}

article figure {
  text-align: center;
}

article figure a {
  display: inline-block;
}

article * > img,
picture {
  max-width: calc(var(--content-width) + var(--ud, 0) * var(--content-distance));
  width: calc(var(--content-width) + var(--ud, 0) * var(--content-distance));
}

picture {
  display: block;
}

figcaption {
  font-family: var(--metadata-font-family);
  font-size: var(--font-size-fluid-sm);
  font-weight: var(--secondary-font-weight);
  opacity: 0.7;
  text-align: center;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.metadata {
  --flow-space: 0.1em;
}

.text-secondary {
  font-family: var(--metadata-font-family);
  font-size: var(--font-size-fluid-sm);
  font-weight: var(--secondary-font-weight);
  opacity: 0.7;
}

a.text-secondary:hover {
  opacity: 1;
}

.tags {
  display: flex;
  gap: var(--header-margin)
}

.scale {
  transition: scale 0.3s;
  transform-origin: left;
  display: inline-block;
}

.scale:hover {
  scale: 1.1;
}

@keyframes move-bg {
  0% {
    background-image: linear-gradient(90deg, var(--accent-color-one), var(--accent-color-two), var(--accent-color-one));
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-image: linear-gradient(90deg, var(--accent-color-one), var(--accent-color-two), var(--accent-color-one));
  }
}

footer {
  padding: calc(var(--header-margin) * 4);
}