html {
  color-scheme: dark light;
  scrollbar-gutter: stable;
}

#color-scheme-wrapper {
  background-color: var(--bg-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

.global-container {
  max-width: var(--max-page-width);
  min-width: var(--max-page-width);
  padding: 0 var(--spacing-base);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
}

main {
  max-width: var(--max-content-width);
  min-width: var(--max-content-width);
  align-self: center;
}

main .whoami {
  padding: var(--header-margin);
  background-color: var(--bg-color-2);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--header-icons);
}

main .whoami picture,
main .whoami picture::after,
main .whoami picture>* {
  width: calc(var(--header-margin) * 15);
  height: calc(var(--header-margin) * 15);
  border-radius: 50%;
  align-self: center;
}

main .whoami .description {
  flex-basis: 31ch;
  flex-grow: 2;
}

main .whoami .description .text>* {
  max-inline-size: var(--max-line-width);
  font-family: var(--content-font-family);
}

main a:not(.nav) {
  background: linear-gradient(90deg,
      var(--primary-color),
      var(--primary-color)) 0 0 / 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main a:not(.nav):hover {
  animation-iteration-count: 20;
  animation: move-bg 12s linear infinite;
}

.h2 {
  color: var(--accent-color-one);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--secondary-font-weight);
}

.section-article {
  flex-basis: 100%;
  align-self: baseline;
  margin-top: calc(var(--header-margin) * 5);
  margin-bottom: calc(var(--header-margin) * 2);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: calc(var(--header-margin) * 3);
}

article {
  content-visibility: auto;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--header-margin);
  font-family: var(--content-font-family);
}

.summary {
  font-weight: var(--regular-font-weight);
  font-size: var(--font-size-fluid-base);
  line-height: var(--line-height-base);
  max-inline-size: var(--max-line-width);
}

.summary a {
  display: inline-block;
  width: 100%;
}

.summary a span {
  display: inline-block;
  width: 100%;
}

.summary pre {
  overflow: auto;
}

.summary iframe {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
}

.metadata {
  font-family: var(--metadata-font-family);
  font-size: var(--font-size-fluid-sm);
  font-weight: var(--secondary-font-weight);
  position: relative;
  top: calc(var(--header-margin) / -2)
}

.text-secondary {
  font-family: var(--metadata-font-family);
  font-size: var(--font-size-fluid-sm);
  font-weight: var(--secondary-font-weight);
  opacity: 0.7;
}

a.text-secondary:hover {
  opacity: 1;
}

.tags {
  display: flex;
  gap: var(--header-margin)
}

.scale {
  transition: scale 0.3s;
  transform-origin: left;
  display: inline-block;
}

.scale:hover {
  scale: 1.1;
}

@keyframes move-bg {
  0% {
    background-image: linear-gradient(90deg, var(--accent-color-one), var(--accent-color-two), var(--accent-color-one));
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-image: linear-gradient(90deg, var(--accent-color-one), var(--accent-color-two), var(--accent-color-one));
  }
}

footer {
  padding: calc(var(--header-margin) * 4);
}