.nav-icon {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.nav > * {
    transition: scale 0.3s;
}

.nav:hover > * {
    scale: 1.1;
    background: linear-gradient(90deg,
            white,
            white) 0 0 / 400% 100%;
    animation-iteration-count: 20;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

{{- $icons := slice -}}
{{- range $menu := .Site.Menus -}}
    {{- range $icon := $menu -}}
        {{- $icons = $icons | append $icon -}}
    {{- end -}}
{{- end -}}

:root {
{{- range $icon := $icons -}}
    {{ with resources.Get (print "icons/" $icon.Identifier ".svg") }}
        --nav-icon-{{ path.BaseName .Name | safeCSS }}: url('data:image/svg+xml,{{ .Content }}');
    {{- end -}}
{{ end }}
}

{{- range $icon := $icons -}}
{{- $iconName := $icon.Identifier -}}
.nav-icon.{{- $iconName -}} {
    mask-image: var(--nav-icon-{{- $iconName -}});
    -webkit-mask-image: var(--nav-icon-{{- $iconName -}});
}
{{- end -}}

{{- range $icon := $icons -}}
{{- $color1 := "#cc2b5eff" -}}
{{- $color2 := "#753a88ff" -}}
{{- if $icon.Params.color1 -}}
    {{- $color1 = $icon.Params.color1 -}}
    {{- $color2 = $icon.Params.color2 -}}
{{- end -}}

.nav.{{.Identifier}}:hover > * {
    --accent-color-one: {{ $color1 }};
    --accent-color-two: {{ $color2 }};
    animation: move-bg 12s linear infinite;
}
{{- end -}}