/* Utils */
.lqip::after {
    background: var(--img-lqip) no-repeat 0/100%;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 1;
    filter: blur(8px);
}

.lqip>img {
    z-index: 2;
    position: relative;
}

.lqip {
    overflow: hidden;
    position: relative;
}