{{ define "main" }}

{{- $encoded := "" -}}
{{- $imageUrl := "https://cdn.afiestas.org/site/avatar-lqip.webp" -}}
{{- with resources.GetRemote $imageUrl -}}
{{- with .Err -}}
{{- warnf "[BROKEN IMAGE] failed to fetch %s Error: %s" $imageUrl . -}}
{{- else -}}
{{- $encoded = printf "url('data:media/webp;base64,%s')" (.Content | base64Encode) | safeCSS -}}
{{- end -}}
{{- end -}}
<main>
    <div class="whoami max-content">
        <picture class="lqip" style="--img-lqip: {{$encoded}};">
            <source srcset="https://cdn.afiestas.org/site/avatar-570x570.webp 570w" />
            <source srcset="https://cdn.afiestas.org/site/avatar-285x285.webp 285w" />
            <img decoding="async" src="https://cdn.afiestas.org/site/avatar-570x570.webp" loading="lazy" sizes="15em" />
        </picture>
        <div class="description flow max-line">
            <h1>Hi there! I'm Àlex 👋</h1>
            <div class="flow">
                {{ with .Site.GetPage "description.md" }}
                {{ .Content }}
                {{ end }}
            </div>
        </div>
    </div>
    <h2 class="h2 section-article max-content">Latest Articles</h2>
    <div class="posts max-content">
        {{ range first 10 (where .Site.RegularPages "Section" "==" "posts") }}
        {{- partial "article-list.html" . -}}
        {{ end }}
        <a href="/posts">
            <h2 class="h2">See all</h2>
        </a>
    </div>
</main>
{{ end }}