{{ define "main" }}
<main>
    <div class="whoami">
        {{ $logo := resources.GetMatch "portrait.jpg" }}
        <div class="portrait">
            <img class="pic" src="{{ $logo.RelPermalink }}">
        </div>
        <div class="description">
            <h1>Hi there! I'm Àlex 👋</h1>
            <div class="text">
            {{ with .Site.GetPage "description.md" }}
                {{ .Content  }}
            {{ end }}
            </div>
        </div>
    </div>
    <h2 class="h2 section-article">Latest Articles</h2>
    <div class="posts">
        {{ range first 10 (where .Site.RegularPages "Section" "==" "posts") }}
            <article>
                <h2><a href="{{ .Permalink }}">{{ .Title }} </a></h2>
                <div class="metadata">{{ partial "timeago.html" . }} - {{ .ReadingTime }} minutes</div>
                <div class="summary">{{ .Summary }} </div>
                <div class="tags">#linux #desktop #hidpi #X11</div>
                <h3><a class="scale" href="{{ .Permalink }}">Read more</a></h3>
            </article>
        {{ end }}
        <a href="/posts"><h2 class="h2">See all</h2></a>
    </div>
</main>
{{ end }}