{{ define "main" }}
{{ $foo := resources.GetRemote "https://cdn.afiestas.org/site/avatar-lqip.webp"}}
{{ $encoded := $foo.Content | base64Encode}}
<style>
:root {
    --profile-pic: url('data:media/webp;base64,{{$encoded}}')
}
</style>
<main>
    <div class="whoami">
        <div class="portrait">
            <img class="pic"
                src="https://cdn.afiestas.org/site/avatar-570x570.webp"
                loading="eager"
                sizes="15em"
                srcset="https://cdn.afiestas.org/site/avatar-570x570.webp 570w,
                        https://cdn.afiestas.org/site/avatar-285x285.webp 285w"
                alt=" ">
        </div>
        <div class="description">
            <h1>Hi there! I'm Àlex 👋</h1>
            <div class="text">
            {{ with .Site.GetPage "description.md" }}
                {{ .Content  }}
            {{ end }}
            </div>
        </div>
    </div>
    <h2 class="h2 section-article">Latest Articles</h2>
    <div class="posts">
        {{ range first 10 (where .Site.RegularPages "Section" "==" "posts") }}
            {{- partial "article-list.html" . -}}
        {{ end }}
        <a href="/posts"><h2 class="h2">See all</h2></a>
    </div>
</main>
{{ end }}