{{ define "main" }}

<main>
    {{ if eq .CurrentSection.Name "Posts" }}
    <h2 class="section-article">Latest Articles</h2>
    <div class="posts">
        {{ range first 4 (where .Site.RegularPages "Section" "==" "posts") }}
            <article>
                <h2>{{ .Title }} </h2>
                <div class="metadata">{{ partial "timeago.html" . }} - {{ .ReadingTime }} minutes</div>
                <div class="summary">{{ .Summary }} </div>
                <div class="metadata">#linux #desktop #hidpi #X11</div>
                <h3><a href="{{ .Permalink }}">Read more</a></h3>
            </article>
        {{ end }}
    </div>
    {{ else }}
    <h2 class="section-article">{{.CurrentSection.Name}}</h2>
        WIP
    {{ end }}
</main>
{{ end }}