/* Resets */
* {
  box-sizing: border-box;
  padding-inline-start: 0px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
ul,
ol,
dd {
  margin: 0;
}

p {
  margin: 20px auto;
}

a {
  text-decoration: none;
}

:root {
  --max-page-layout: 88rem;
  --max-content-layout: 75rem;
  /* Generic layout */
  --max-page-width: min(100%, var(--max-page-layout));
  --max-content-width: min(100%, var(--max-content-layout));

  /* Generic palette */
  --bg-color: #182029;
  --bg-color-2: #32333f22;
  --bg-color-light: #32333f22;
  --primary-color: #f7f9f9;

  /* Specific colors */
  --link-color: var(--primary-color);

  --primary-font-family: 'League Spartan', sans-serif;
  --primary-font-weight: 600;
  --primary-font-size: var(--font-size-fluid-sm);

  --font-size-fluid-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-fluid-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-fluid-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-fluid-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-fluid-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-fluid-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-fluid-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --line-height-sm: 1.5;
  --line-height-base: 1.6;
  --line-height-md: 1.7;

  --header-size: var(--font-size-fluid-base);
  --header-margin: var(--header-size);
  --header-icons: calc(var(--header-size) * 2);
  --header-font-size: var(--font-size-fluid-base);
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--link-color);
}

.global-container {
  max-width: var(--max-page-width);
  min-width: var(--max-page-width);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: var(--header-margin);
  padding-left: var(--header-margin);
  overflow-x: hidden;
}

header {
  display: flex;
  margin: var(--header-margin) 0;
}

.flex-spacer {
  flex-grow: 10;
}

.toggle:checked~.links>.flex-spacer {
  display: none;
}

.nav-top-primary {
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--header-font-size);
  line-height: var(--header-font-size);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-top-primary .links {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  max-height: var(--header-size);
}

.toggle:checked~.links {
  overflow: visible;
  max-height: none;
  font-size: 0.8em;
}

.toggle:checked~.links>li {
  margin: 0.5em;
  min-width: 4em;
  max-width: 4em;
  align-items: center;
}

.nav-top-primary li {
  text-decoration: none;
  list-style: none;
  margin-right: var(--header-icons);
  display: flex;
  flex-flow: column;
}

.nav-top-primary li .secondary {
  align-self: flex-end;
}

.nav-top-primary li .icon {
  background-color: var(--primary-color);
  min-height: var(--header-size);
  min-width: var(--header-size);
}

.nav-top-primary li.primary .icon {
  display: none;
}

.toggle:checked~.links li .icon {
  display: block;
  min-height: var(--header-icons);
  min-width: var(--header-icons);
  margin-bottom: 0.7em;
}

.nav-top-primary li.secondary .name {
  display: none;
}

.toggle:checked~.links li.secondary .name {
  display: block;
}

.show-all .icon {
  background-color: var(--primary-color);
  min-height: var(--header-size);
  min-width: var(--header-size);
  transition: transform .2s ease-in-out;
}

.show-all a {
  display: none;
}

.show-all {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 100%;
  justify-content: center;
  min-width: var(--header-size);
}

.toggle:checked~.show-all>.icon {
  transform: rotate(-45deg);
  min-height: var(--header-icons);
  min-width: var(--header-icons);
}

nav .toggle {
  display: none;
}

nav .logo {
  width: var(--header-icons);
  margin-right: var(--font-size-fluid-base);
}

main .whoami {
  display: flex;
  background-color: var(--bg-color-2);
  justify-content: center;
  flex-wrap: wrap;
}

main .whoami .profile {
  display: flex;
  justify-content: center;
}

main .whoami .profile .portrait {
  display: flex;
  align-items: center;
  margin-right: calc(var(--header-margin));
  margin: calc(var(--header-margin));
}

main .whoami .profile .portrait .pic {
  border-radius: 50%;
  max-inline-size: 100%;
}

main .whoami .profile .description {
  max-width: calc(var(--max-content-width) / 2);
  margin: calc(var(--header-margin));
  transition: max-width 0.3s ease-out 0s;
}

@media only screen and (max-width: 650px) {
  main .whoami .profile .portrait {
    display: none;
  }

  main .whoami .profile .description {
    max-width: 100%;
  }
}

main {
  /* border: aliceblue dashed 0.1px;   */
  max-width: var(--max-content-width);
  min-width: var(--max-content-width);
  align-self: center;
  flex-grow: 1;
  margin-top: var(--header-margin);
  font-family: var(--primary-font-family);
  line-height: var(--line-height-base);
  font-size: var(--font-size-fluid-base);
}

/* h1, h2, h3, h4, h5, h6 {
    margin: 3em 0 1em;
  } */

/* p, ul, ol {
    margin-bottom: 2em;
    color: #1d1d1d;
    font-family: sans-serif;
  } */

footer {
  border: beige dashed 0.1px;
}