
<!DOCTYPE html>
{{ partial "head.html" . }}
<body>
    <div class="global-container">
        {{ partial "header.html" . }}
        <main>
            <div class="whoami">
                <div class="profile">
                    {{ $logo := resources.GetMatch "portrait.jpg" }}
                    <div class="portrait">
                        <img class="pic" src="{{ $logo.RelPermalink }}">
                    </div>
                    <div class="description">
                        <h1>Hi there! I'm Àlex 👋</h1>
                        <div class="text">
                        {{ with .Site.GetPage "description.md" }}
                            {{ .Content  }}
                        {{ end }}
                        </div>
                    </div>
                </div>
                </div>
                {{ range first 1 (where .Site.RegularPages "Section" "==" "posts") }}
                    <div>
                        <article>
                            <h2>{{ .Title }} </h2>
                            <h3>{{ partial "timeago.html" . }}</h3>
                        </article>
                    </div>
                {{ end }}
        </main>
        <footer>
            <div>footer</div>
        </footer>
    </div>
</body>