<header>
  <nav class="nav-top-primary">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.top }}
        <li class="{{if or ($currentPage.IsMenuCurrent "top" .) ($currentPage.HasMenuCurrent "top" .) }} active{{end}}">
          <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        </li>
      {{ end }}
      <span class="flex-spacer"></span>
      {{ range .Site.Menus.secondary }}
        <li class="social-icon-{{ .Identifier }} icon-only">
          <a href="{{ .URL }}" title="{{ .Title }}">{{.Name}}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
</header>