<head>
    <title>{{ with .Title }}{{ humanize . }} | {{ end }}{{ .Site.Title }}</title>
    {{ $logo := resources.GetMatch "logo.svg" }}
    <link rel="icon" href="{{ $logo.RelPermalink }}" {{ $logo.MediaType | printf "type=%q"| safeHTMLAttr}}>
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <style data-what="fonts">
        {{ $fontz := resources.Get "fonts/fonts.css" | resources.ExecuteAsTemplate "fonts/fonts.css" . }}
        {{ $fontz.Content | safeCSS }}
    </style>
    <style data-what="nav-icons">
        {{ $svgSocial := resources.Get "icons/social-icons.css" | resources.ExecuteAsTemplate "fonts/fonts.css" . }}
        {{ $svgSocial.Content | safeCSS }}
    </style>
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/main.css?v={{now.Unix}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
