<header>
  <nav class="nav-top-primary">
    <input type="checkbox" id="more" aria-hidden="true" tabindex="-1" class="toggle"/>
    {{ $logo := resources.GetMatch "logo.svg" }}
    <img class="logo" src="{{ $logo.RelPermalink }}">
    <ul class="links">
      {{ $currentPage := . }}
      {{ range .Site.Menus.primary }}
        <li class="primary {{if or ($currentPage.IsMenuCurrent "top" .) ($currentPage.HasMenuCurrent "top" .) }} active{{end}}">
          <div class="nav-icon-{{ .Identifier }} icon"></div>
          <a href="{{ .URL }}" class="name" title="{{ .Title }}">{{ .Name }}</a>
        </li>
      {{ end }}
      <span class="flex-spacer"></span>
      {{ range .Site.Menus.secondary }}
        <li class="secondary">
          <div class="nav-icon-{{ .Identifier }} icon"></div>
          <a href="{{ .URL }}" class="name" title="{{ .Title }}">{{.Name}}</a>
        </li>
      {{ end }}
    </ul>
    <label for="more" aria-hidden="true" class="show-all">
      <div class="nav-icon-menu icon"></div>
      <a href="#" title="Show all">Show all</a>
    </label>
  </nav>
</header>