{{- $icons := slice -}}
{{- range $menu := .Site.Menus -}}
    {{- range $icon := $menu -}}
        {{- $icons = $icons | append $icon -}}
    {{- end -}}
{{- end -}}

:root {
{{- range $icon := $icons -}}
    {{ with resources.Get (print "icons/" $icon.Identifier ".svg") }}
        --nav-icon-{{ path.BaseName .Name | safeCSS }}: url('data:image/svg+xml,{{ .Content }}');
    {{- end -}}
{{ end }}
}


{{- range $icon := $icons -}}
{{- $iconName := $icon.Identifier -}}
.nav-icon-{{- $iconName -}} {
    mask-image: var(--nav-icon-{{- $iconName -}});
    -webkit-mask-image: var(--nav-icon-{{- $iconName -}});
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}
{{- end -}}